
.contain {
    height: 100%; 
    width: 100%;
}

.chess-gold {
    width:12.5%;
    background:gold;  
    height:12.5%;
    FLOAT:LEFT; 
    font-size: 40px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.chess-blue {
    width:12.5%;
    background:blue;  
    height:12.5%;
    FLOAT:LEFT; 
    font-size: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.box-gold {
    width:12.5%;
    background:gold;  
    height:12.5%;
    FLOAT:LEFT;
}

.box-blue {
    width:12.5%;
    background:blue;  
    height:12.5%;
    FLOAT:LEFT;
}

